body{
    width: 80vw;
    margin: 0px 100px 0px 100px;
}
h1,h3{
    margin: 20px;
    width: 60vw;
}
h4 {
    font-size: 22px;
    text-align: left;
    margin-left: 30px;
}
h5 {
    font-size: 18px;
    text-align: left;
    margin-left: 30px;
}
#form-intro-p {
    width: 60vw;
}

.prediction-container{
    margin: 1rem;
    width: 70vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2px;
}
form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    background-color: rgb(199, 193, 183);
    border-radius: 2%;
    padding: 5px 20px 0px 20px;
}
label{
    display: block;
    margin: 5px 0px 0px 0px;
}
input[type='number'] {
    display: block;
    grid-column: 1/3;
    background-color: rgb(201, 192, 192);
    margin: 0px 5px 0px 0px;
    text-align: center;
    
}
[type='number']:hover{
    background-color: rgb(192, 189, 180);
}
input[type='submit']{
    grid-column: 1/3;
    margin: 5px 5px 5px 0px;
    font-size:medium;
}
input[type='submit']:hover{
    background-color: rgb(231, 227, 209);
}
select {
    grid-column: 1/3;
    display: block;
    background-color: rgb(141, 206, 122);
    width: 150px;
    margin: 0px 5px 0px 0px;
}
#predicted-price{
    grid-column: 2/2;
    background-color: rgb(214, 236, 214);
    text-align: center;
    border-radius: 2%;
}
#predicted-header {
    text-align: left;
    margin-left: 30px;
}
#predicted-value {
    text-align: left;
    color: rgba(11, 168, 64, 0.877);
    font-size: 30px;
    margin-left: 30px;
    font-weight:bolder;

}
table,th,td {
    border: 1px solid black;
}
table {
    margin-left: 30px;
    border-collapse: collapse;
    border-color: black;
    border-spacing: 1px;
    box-sizing: border-box;
}
th,td {
    padding: 1px;
    font-size: 12px;
}
th{
    text-align: left;
}
@media (max-width:680px){
body{
    width: 100%;
    margin: 0px 5px 20px 5px;
}
.prediction-container{
    /* margin: 1rem; */
    width: 100%;
    display: block;
    margin: 5px 10px 5px 10px;
    /* display: grid; */
    /* grid-template-columns: 1fr; */
    /* gap: 2px; */
}
h1,h3{
    margin: 0px 10px 0px 10px;
    width: 100%;
}
h4 {
    font-size: 18px;
    text-align: left;
    margin-left: 5px;
}
h5 {
    font-size: 16px;
    text-align: left;
    margin-left: 50px;
}
#form-intro-p {
    width: 100%;
}

#predicted-header {
    text-align: left;
    margin-left: 30px;
    /* margin-top:30px; */
    padding-top: 30px;
    padding-bottom: 0;
}
}