<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ML Prediction API</title>
</head>
<body>
    <h1>Machine Learning in Python</h1>
    <h3>Using RandomForest for machine learning prediction</h3>
    <p>Please enter the values below to make a prediction</p>
    <div id="new-predictions">
        <form action="">
            <p type='number'>Guests</p>
            <p type='number'>Bedrooms</p>
            <p type='number'>Bathrooms</p>
            <p type='number'>Total Reviews</p>
            <p type='number'>Review Score</p>
        </form>
    </div>
</body>
</html>