<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <link rel="stylesheet" type= "text/css" href= "../static/styles/style.css">
    <title>ML Prediction API</title>
</head>
<body>
    <h1>Machine Learning in Python</h1>
    <h3>Using RandomForest for machine learning prediction</h3>
    <p>Please enter the values below to make a prediction</p>
    <div id="prediction-grid">
    <div id="new-predictions">
        <form action="/predict" method="POST">
            <label>Guests <input type="number" name ="guests" id="guest"></label>
            <label>Bedrooms <input type="number" name='bedrooms' id="bedrooms"></label>
            <label>Bathrooms <input type="number" name="bathrooms" id="bathrooms"></label>
            <label>Number of Reviews </label><input type="number" name="total-reviews" id="total-reviews">
            <label>Rating <input type="number" name="review-score" id="review-score"></label>
            <input type="submit" value="Submit">
        </form>
    </div>
    <div id="predicted-price">
        <h4>Predicted Price </h4>
        <h2 id="predicted-value">$30</h2>
    </div>
</div>
</body>
</html>