body{
    width: 100vw;
    margin-left: 50px;
    margin-right: 50px;
}
h1,h3{
    margin: 15px 0 4px;
    font-weight: 400;
}
form{
    align-items: center;
    text-align: center;
}

input{
    width: 30vw;
}
input[type=number]{
    font-size: 18px;
    padding: 12px 20px;
    margin-left: 8px;
    margin-bottom: 10px;
    border: 2px solid rgb(118, 160, 147);
    box-sizing: border-box;
    text-align: center;
}
input[type=number]:hover{
    background-color: rgb(227, 233, 240);
}
input[type=submit]{
    font-size: 22px;
    width: 30vw;
    padding: 12px 20px;
    margin-left: 8px;
    margin-top: 10px;


}
input[type=submit]:hover{
    background-color:sandybrown;
}
#new-predictions{
    font-size: 22px;
    width: 30vw;
    display: grid;
    gap: 20px;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    grid-template-columns: 20ch auto;
    grid-template-rows: auto;

}