body{
    width: 100vw;
    margin-left: 50px;
    margin-right: 50px;
}
h1,h3{
    margin: 15px 0 4px;
    font-weight: 400;
}
h4 {
    background-color: rgb(151, 179, 179);
    padding: 20px;
    box-sizing: border-box;
}
.prediction-container{
    margin: 2rem;
    width: 80vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

#input-values {
    display: block;
    float: left;
    grid-column-start: 1;
    grid-column-end: 2;
}
#predicted-price{
    grid-column-start: 3;
    grid-column-end: 3;
}